@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    background-color: #F2F6FA;

    display: flex;
}

#app {
    width: 100%;
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 180px;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    background-color: #374050;
}

.sidebar-logo {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.sidebar-logo span {
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;

    margin-left: 12px;
}

/* Nav */
.nav-list {
    padding-left: 30px;
    font-size: 14px;
}

.nav-list li {
    margin-bottom: 30px;
}

.nav-list a {
    font-weight: 400;
    color: #FFFFFF;
    opacity: 0.7;
    transition: color 0.2s ease-in;
}

.nav-list a:hover {
    color: #FFFFFF;
    opacity: 1;
}

/* Main */

.main {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    width: 100%;
}

/* Header */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
    height: 60px;
    background-color: #FFFFFF;
}

/* Nav header */

.nav-header {
    font-size: 12px;
    font-weight: 400;
    margin-left: 20px;
}

.nav-header-list {
    display: flex;
    align-items: center;
}

.nav-header-link-text {
    position: relative;

    color: #000;
}

.nav-header-link-text:hover {
    color: #ED1C24;

}

.nav-header-link-text.active {
    color: #ED1C24;
}

.nav-header-link-text::after {
    position: absolute;
    left: 0;
    width: 0%;
    bottom: -10px;

    content: "";
    display: block;
    height: 2px;
    background-color: #ED1C24;

    transition: width 0.2s ease-in;
}

.nav-header-link-text:hover::after {
    width: 100%;


}

.nav-header-link-text.active::after {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -9px;

    content: "";
    display: block;
    height: 2px;
    background-color: #ED1C24;;
}

.nav-header-link-text + .nav-header-link-text {
    margin-left: 42px;
}

.user-info {
    display: flex;
    align-items: center;
    margin-right: 30px;

    font-weight: 400;
    font-size: 12px;
    color: #A6AFB8;
}
