@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    background-color: #F2F6FA;

    display: flex;
}

#app {
    width: 100%;
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 180px;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    background-color: #374050;
}

.sidebar-logo {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.sidebar-logo span {
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;

    margin-left: 12px;
}

/* Nav */
.nav-list {
    padding-left: 30px;
    font-size: 14px;
}

.nav-list li {
    margin-bottom: 30px;
}

.nav-list a {
    font-weight: 400;
    color: #FFFFFF;
    opacity: 0.7;
    transition: color 0.2s ease-in;
}

.nav-list a:hover {
    color: #FFFFFF;
    opacity: 1;
}

/* Main */

.main {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    width: 100%;
}

/* Header */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
    height: 60px;
    background-color: #FFFFFF;
}

/* Nav header */

.nav-header {
    font-size: 12px;
    font-weight: 400;
    margin-left: 20px;
}

.nav-header-list {
    display: flex;
    align-items: center;
}

.nav-header-link-text {
    position: relative;

    color: #000;
}

.nav-header-link-text:hover {
    color: #ED1C24;

}

.nav-header-link-text.active {
    color: #ED1C24;
}

.nav-header-link-text::after {
    position: absolute;
    left: 0;
    width: 0%;
    bottom: -10px;

    content: "";
    display: block;
    height: 2px;
    background-color: #ED1C24;

    transition: width 0.2s ease-in;
}

.nav-header-link-text:hover::after {
    width: 100%;


}

.nav-header-link-text.active::after {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -9px;

    content: "";
    display: block;
    height: 2px;
    background-color: #ED1C24;;
}

.nav-header-link-text + .nav-header-link-text {
    margin-left: 42px;
}

.user-info {
    display: flex;
    align-items: center;
    margin-right: 30px;

    font-weight: 400;
    font-size: 12px;
    color: #A6AFB8;
}

/* Table */
.content {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.table-container {
    width: 800px;

}

.table {
    width: 100%;
    border: none;
    margin-bottom: 20px;
    border-collapse: collapse;

    color: #6E6E6F;
    font-weight: 400;
}
.table thead th {
    padding: 20px;

    font-size: 12px;
    font-weight: 400;
    line-height: 10px;
    text-align: left;

    border-bottom: 2px solid #374050;
}

.table tbody td {
    padding: 20px;
    font-size: 14px;
    line-height: 30px;
    text-align: left;
    border-bottom: 2px solid #374050;
    background-color: #FFFFFF;
    margin-left: 0;
}

.table tbody td  a:hover{
    color: #374050;
}

/* Button Add*/
.button-add {
    width: 136px;
    height: 30px;
    background-color: #0FC5FF;

    color: white;
    font-weight: 500;
    font-size: 12px;

    border: none;
    border-radius: 6px;

    cursor: pointer;
    float: right;

    margin-top: 15px;
    margin-right: 20px;
}

.button-add:hover {
    background: #0EAADC;
}




.edit-icon {
    position: absolute;
    top: 10px;
    right: 40px;
    font-size: 20px;
    cursor: pointer;
}


.hui {
    margin-top: 10px;
}

.product-card {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #374050;
    border-radius: 8px;
    position: relative;

}

.title {
    font-weight: bold;
}

.info {
    width: 450px;
    display: flex;
    flex-direction: row;

}

.attribute {

    padding-right: 20px;
}




.icons {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.delete-icon,
.edit-icon,
.close-button {
    cursor: pointer;
    margin: 5px;
}

/* Дополнительные стили по необходимости */
